In [4]:
import numpy as np
import pandas as pd

# The file is stored at the following path:
# 'https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv'
# Provide your answer below
df= pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv',header=None,sep='|')
#df_string = df.to_string(index=False, header=False).replace(',', '')


print(df)

     0        1            2   3   4   5
0    1   Akshay  Mathematics  50  40  80
1    2   Mahima      English  40  33  83
2    3    Vikas  Mathematics  50  42  84
3    4  Abhinav      English  40  31  78
4    5   Mahima      Science  50  40  80
5    6   Akshay      Science  50  49  98
6    7  Abhinav  Mathematics  50  47  94
7    8    Vikas      Science  50  40  80
8    9  Abhinav      Science  50  47  94
9   10    Vikas      English  40  39  98
10  11   Akshay      English  40  35  88
11  12   Mahima  Mathematics  50  43  86

In [13]:
import numpy as np
import pandas as pd

# Define the column names
column_names = ["S.No.", "Name", "Subject", "Maximum Marks", "Marks Obtained", "Percentage"]

# Read the CSV file with the specified column names and separator
df = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv',
                 names=column_names, sep='|')

# Print the DataFrame
print(df)

    S.No.     Name      Subject  Maximum Marks  Marks Obtained  Percentage
0       1   Akshay  Mathematics             50              40          80
1       2   Mahima      English             40              33          83
2       3    Vikas  Mathematics             50              42          84
3       4  Abhinav      English             40              31          78
4       5   Mahima      Science             50              40          80
5       6   Akshay      Science             50              49          98
6       7  Abhinav  Mathematics             50              47          94
7       8    Vikas      Science             50              40          80
8       9  Abhinav      Science             50              47          94
9      10    Vikas      English             40              39          98
10     11   Akshay      English             40              35          88
11     12   Mahima  Mathematics             50              43          86

In [17]:
import numpy as np
import pandas as pd

# Define the column names
column_names = ["S.No.", "Name", "Subject", "Maximum Marks", "Marks Obtained", "Percentage"]

# Read the CSV file with the specified column names and separator
df = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv',
                 names=column_names, sep='|')

# Print the DataFrame
print(df.to_string(index=False))

 S.No.    Name     Subject  Maximum Marks  Marks Obtained  Percentage
     1  Akshay Mathematics             50              40          80
     2  Mahima     English             40              33          83
     3   Vikas Mathematics             50              42          84
     4 Abhinav     English             40              31          78
     5  Mahima     Science             50              40          80
     6  Akshay     Science             50              49          98
     7 Abhinav Mathematics             50              47          94
     8   Vikas     Science             50              40          80
     9 Abhinav     Science             50              47          94
    10   Vikas     English             40              39          98
    11  Akshay     English             40              35          88
    12  Mahima Mathematics             50              43          86

In [18]:
import numpy as np
import pandas as pd

# Define the column names
column_names = ["S.No.", "Name", "Subject", "Maximum Marks", "Marks Obtained", "Percentage"]

# Read the CSV file with the specified column names and separator
df = (pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv',
                 names=column_names, sep='|')).to_string(index=False)

# Print the DataFrame
print(df)

 S.No.    Name     Subject  Maximum Marks  Marks Obtained  Percentage
     1  Akshay Mathematics             50              40          80
     2  Mahima     English             40              33          83
     3   Vikas Mathematics             50              42          84
     4 Abhinav     English             40              31          78
     5  Mahima     Science             50              40          80
     6  Akshay     Science             50              49          98
     7 Abhinav Mathematics             50              47          94
     8   Vikas     Science             50              40          80
     9 Abhinav     Science             50              47          94
    10   Vikas     English             40              39          98
    11  Akshay     English             40              35          88
    12  Mahima Mathematics             50              43          86

In [20]:
import numpy as np
import pandas as pd

# The file is stored at the following path:
# 'https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv'
# Provide your answer below
# Define the column names
column_names = ["Name", "Subject", "Maximum Marks", "Marks Obtained", "Percentage"]

# Read the CSV file with the specified column names and separator
df = (pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv',
                 names=column_names, sep='|')).to_string(index='S.No')

# Print the DataFrame
print(df)

       Name      Subject  Maximum Marks  Marks Obtained  Percentage
1    Akshay  Mathematics             50              40          80
2    Mahima      English             40              33          83
3     Vikas  Mathematics             50              42          84
4   Abhinav      English             40              31          78
5    Mahima      Science             50              40          80
6    Akshay      Science             50              49          98
7   Abhinav  Mathematics             50              47          94
8     Vikas      Science             50              40          80
9   Abhinav      Science             50              47          94
10    Vikas      English             40              39          98
11   Akshay      English             40              35          88
12   Mahima  Mathematics             50              43          86

In [24]:
import numpy as np
import pandas as pd

# The file is stored at the following path:
# 'https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv'
# Provide your answer below

# Read the CSV file with the specified column names and separator
df = (pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv',
                 names=["Name", "Subject", "Maximum Marks", "Marks Obtained", "Percentage"], sep='|')).to_string(index='S.No')
# Print the DataFrame
print(df)

       Name      Subject  Maximum Marks  Marks Obtained  Percentage
1    Akshay  Mathematics             50              40          80
2    Mahima      English             40              33          83
3     Vikas  Mathematics             50              42          84
4   Abhinav      English             40              31          78
5    Mahima      Science             50              40          80
6    Akshay      Science             50              49          98
7   Abhinav  Mathematics             50              47          94
8     Vikas      Science             50              40          80
9   Abhinav      Science             50              47          94
10    Vikas      English             40              39          98
11   Akshay      English             40              35          88
12   Mahima  Mathematics             50              43          86

In [40]:
import numpy as np
import pandas as pd

# The file is stored at the following path:
# 'https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv'
# Provide your answer below
# Read the CSV file with the specified column names and separator
df = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv',
                 names=["Name", "Subject", "Maximum Marks", "Marks Obtained", "Percentage"], sep='|')
df.rename_axis('S.No.', inplace=True)
# Print the DataFrame
print(df)

          Name      Subject  Maximum Marks  Marks Obtained  Percentage
S.No.
1       Akshay  Mathematics             50              40          80
2       Mahima      English             40              33          83
3        Vikas  Mathematics             50              42          84
4      Abhinav      English             40              31          78
5       Mahima      Science             50              40          80
6       Akshay      Science             50              49          98
7      Abhinav  Mathematics             50              47          94
8        Vikas      Science             50              40          80
9      Abhinav      Science             50              47          94
10       Vikas      English             40              39          98
11      Akshay      English             40              35          88
12      Mahima  Mathematics             50              43          86